body{
    text-align: center;
}

button{
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 8px;
}

button:hover{
    background-color: rgb(0, 177, 0);
}